html {
	background-color: gold;
	width: 600px;
	margin-right: auto;
	margin-left: auto;

}

@for $i from 1 through 25 {
    #s#{$i} {
    	background-color: lighten(blue, 2% * $i);
    	color: gold;
    	text-align: center;
			width:600px;
    	height:30px;
    	overflow: auto;
    }
}