<!DOCTYPE html>
<html>
<head>
	<title>sass color exercise</title>
	<link href="css/blue.css" rel="stylesheet">
</head>

<body>
	<%for i in 1..25 %>
	   <div id = "s<%=i%>">Go Bruins!</div>
	<% end %>
</body>